<div id="about">



  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Mission of the African Great Lakes Initiative
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          The African Great Lakes Initiative (AGLI) of the Friends Peace Teams strengthens, supports, and promotes peace activities at the grassroots level in the Great Lakes region of Africa (Burundi, Congo, Kenya, Rwanda, Tanzania, and Uganda). To this end, AGLI responds to requests from local religious and non-governmental organizations that focus on conflict management, peace building, trauma healing, and reconciliation. AGLI sponsors Peace Teams composed of members from local partners and the international community. We are a 501(c)3 not-for-profit organization.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            History of the African Great Lakes Initiative
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          The African Great Lakes Initiative (AGLI) is a program created by the Friends Peace Teams, an organization consisting of sixteen Quaker Yearly Meetings in the United States who have united to support the traditional emphasis of Quakers in promoting a more peaceful world. In April, 1998, the Friends Peace Teams realized that Quakers in the Great Lakes region of Africa, numbering almost half of the Quakers in the world, were in countries with a great deal of violence, social unrest, genocide, and civil war. Consequently in January 1999, an international delegation of seven team members visited Kenya, Uganda, Rwanda, and Burundi. From this visit and subsequent discussions, the Friends Peace Teams decided to create the African Great Lakes Initiative to support peacemaking activities at the grassroots level. We are a 501(c)3 not-for-profit organization.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            AGLI Team Members
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
          <h2>Working Group</h2>
          <ul>
            <li>Laura Shipler Chico</li>
            <li>Anna Crumley-Effinger</li>
            <li>Rosalie Dance (recording clerk)</li>
            <li>Rachel Fretz (clerk)</li>
            <li>Rachel Madenyika</li>
            <li>Adrien Niyongabo</li>
            <li>Sue Nowelsky</li>
            <li>Tom Paxson (treasurer)</li>
            <li>Andrew Peterson</li>
            <li>Mumia Shimaka</li>
          </ul>

          <h2>Staff</h2>
          <ul>
            <li>David Bucura, (Coordinator--Central Africa)</li>
            <li>Dawn Rubbert (Program Manager)</li>
            <li>Chuc Smith (Administration)</li>
            <li>David Zarembka (Coordinator)</li>
            <li>Tommy Zarembka (Development)</li>
          </ul>

          <h2>Burundi</h2>
          <ul>
            <li>Marcelline Girukwishaka</li>
            <li>Elin Henrysson</li>
            <li>Adrien Niyongabo</li>
            <li>Alexia Nibona</li>
            <li>Florence Ntakarutimana</li>
            <li>Desire Nzeyimana</li>
          </ul>

          <h2>DRC</h2>
          <ul>
            <li>Zawadi Nikuze</li>
            <li>Kenya</li>
            <li>Getry Agizah</li>
            <li>Gladys Kamonya</li>
          </ul>

          <h2>Rwanda</h2>
          <ul>
            <li>Solange Maniraguha</li>
            <li>Josephine Mukangoga</li>
            <li>Etienne Nsanzimana</li>
          </ul>

          <h2>Uganda</h2>
          <ul>
            <li>Hellen Kabuni</li>
            <li>George Katosi</li>
            <li>Barbara Wybar</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>