<div class="programs">

  <h1>Alternatives to Violence</h1>

  <h2>Description</h2>
  <p>The Alternatives to Violence Project (AVP) began in 1975, when a group of inmates near New York City asked a local Quaker group to provide them with non-violence training. Highly experiential in nature, the workshop encourages participants to recognize that they can best find their own answers to the conflicts they encounter.</p>

  <p>
    AVP workshops focus on the following themes:<br>
    > Seeking that which is good in ourselves and others<br>
    > Cooperation<br>
    > Community building skills: trust, respect, and inclusiveness<br>
    > Communication skills: deep listening, speaking with clarity, and responsibility<br>
    > Conflict Transformation<br>
  </p>

  <p>There are three levels of AVP training: Basic, Advanced, and Training for Facilitators. All workshops last for three days and emphasize building community among participants. The Basic workshop provides an initial introduction to the concepts outlined above. In the Advanced workshops, participants choose the thematic focus that they want to explore more fully. Examples of such themes include fear, anger, forgiveness, or discrimination. In the Training for Facilitators, participants learn the skills needed to lead workshops on their own.</p>

  <hr>

  <h2>Current programs</h2>

  <p>AGLI introduced AVP in Rwanda in 2001, Burundi in 2002, western Kenya and Nairobi in 2003, and eastern Congo in 2005. These programs now all have experienced, trained AVP facilitators plus lead facilitators who can offer advanced workshops and training for facilitators. AVP is now being used as a basic training for specific peace work in the region when funding is available: for example, with youth in Kenya who experienced the post-election violence and for returned Hutu and Tutsi refugees from Tanzania that were resettled in Rwanda. AVP is now a tool, a well-developed workshop that is used to obtain broader objectives.</p>

</div>