<div class="countries">

  <h1>Burundi</h1>

  <h2>Current Programs in Burundi:</h2>

  <h3>Healing and Rebuilding Our Communities (HROC)</h3>
  <p>Healing Companion Cycle with HROC workshops, follow-up days, and community celebrations
  Advanced HROC workshops in select communities
  Support of existing 40 Healing Companions--people who have participated in HROC workshops trained to be healers in their communities</p>

  <h3>HROC/HIV</h3>
  <p>Healing Companion Cycle with 20 HROC workshops, 10 follow-up days, and 5 celebrations for HIV positive women</p>

  <h3>Friends Women's Association (FWA)</h3>
  <p>Basic support for Kamenge Clinic</p>

  <h3>Mediation</h3>
  <p>In partnership with Change Agents for Peace, Incorporated, peace activists have been trained in transformative medation.</p>

  <hr>

  <h2>Completed programs in Burundi:</h2>

  <p>In July, 2006, 2007, and 2008, the summer workcamps constructed the new building which now houses the operations of the Friends Women’s Association’s Kamenge Clinic.</p>

  <p>In July 2005, the summer workcamp with Burundi Yearly Meeting built 3 classrooms for Nyarurambi School and re-roofed five houses, four for Hutu refugees returning from Tanzania and one for an internally displaced Tutsi</p>

  <p>In July 2004, the summer workcamp with Kibimba Peace Committee rebuilt three and re-roofed two houses for internally displaced Tutsi.</p>

  <p>In July 2003, the summer workcamp with Kibimba Peace Committee rebuilt 5 houses for internally displaced Tutsi</p>

  <p>In April 2002, AGLI successfully introduced the Alternatives to Violence Project (AVP-Burundi) with Burundi Yearly Meeting</p>

  <p>From October 2000 to March 2003, the major endeavor of the African Great Lakes Initiative was to develop the Trauma Healing and Reconciliation Services (THARS) with Burundi Yearly Meeting. This included the organization of the program, the training of lead facilitators, the additional training of 23 local facilitators, and the opening of listening rooms.</p>

  <p>In March 2003, THARS received major outside funding and has continued without additional support from AGLI working with victims of torture, safe houses for women who have been raped and abused, and counselling individuals with severe cases of trauma.</p>

  <p>In July 1999, AGLI first project was the summer workcamp with Burundi Yearly Meeting rebuilding the guest house at Kamenge Friends Church in Bujumbura.</p>

</div>