<div class="countries">

  <h1>Congo</h1>

  <h2>Current Programs in Congo:</h2>

  <h3>Healing and Rebuilding Our Communities (HROC)</h3>

  <p>Healing Companion Cycle with 20 HROC workshops, 10 follow-up days, and 5 celebrations in Masisi Starting January 2008</p>
  
  <hr>

  <h2>Completed programs in Congo:</h2>

  <p>In July 2005, with Congo Yearly Meeting AGLI introducted Alternatives to Violence (AVP-Bukavu) in Bukavu, South Kivu.</p>

</div>