<div id="donate">

  <h1>Donate</h1>

  <p>AGLI is a 501c3 nonprofit ogranization.</p>

  <p>If you would like to make an online contribution please click on the link below: 
  Please note that as of October 1, 2011, JustGive will be taking 4.5% of any donation you give through the internet. Consequently, if possible, AGLI would prefer that you send a check for your donation.</p>

  <p><a href="https://www.justgive.org/basket?acton=donate&ein=42-1590796"><img src="img/donatebutton.gif" width="165" height="85" border="0"></a></p>

  <p>If you would prefer to send a check, please make the check out to: Friends Peace Teams Earmarked to: African Great Lakes Initiative</p>
  <p>and send it to:</p>

  <blockquote>
    African Great Lakes Initiative<br>
    Friends Peace Teams<br>
    1001 Park Avenue <br>
    St. Louis, MO 63104
  </blockquote>

  <p>Our tax id number is: 42-1590796</p>

  <p>Donations from Great Britain should be made out to "African Great Lakes Initiative" and sent to:</p>

  <blockquote>
    Margot Lunnon<br>
    25 Barfett St<br>
    London<br>
    W10 4NP
  </blockquote>

</div>