<div class="programs">

  <h1>Friends Women's Association</h1>

  <h2>Description:</h2>
  <p>Friends Women Association (FWA) has a clinic in Kamenge, a poor section of Bujumbura, for women with HIV/AIDS. Currently it has an active cliental of 120 patients, most whom are women. It also serves the usual health needs of the surrounding community so that it is not stigmatized as only a place for HIV/AIDS positive individuals. In additional to its ongoing services to clients the program includes AIDS and STD testing, counseling, nutritional support, and patient gatherings.</p>

  <hr>
  
  <h2>Current programs:</h2>
  <p>In the last two years, the Friends Women’s Association in Kamenge, Bujumbura, has purchased a plot of land and built its own clinic. With water and electricity now connected, the clinic is able to provide HIV and malaria screening for people in the community. This will mean that their HIV+ cliental will not have to travel to Bujumbura to receive services. This summer the AGLI workcampers will complete a waiting room, a room for maternity and children, and a minor surgery room. When these are completed, the clinic will be inspected and registered as a full-fledged clinic by the Burundian Government.</p>

  <p>The Kamenge Clinic is also piloting the HROC workshop for HIV+ women and will participate in the on-going HIV+ workshops upcountry.</p>

  <p>For more information about the Friends Women’s Association, please see www.fwaburundi.com.</p>

</div>