<div id="intro-page">

      <!-- INTRO PAGE IMAGE SLIDER -->

      <div id="myCarousel" class="carousel slide" data-ride="carousel"> <!-- put carousel in data-ride to auto-run -->

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="img/hroc1.jpg" alt="...">
          </div>
          <div class="item">
            <img src="img/hroc2.jpg" alt="...">
          </div>
          <div class="item">
            <img src="img/hroc3.jpg" alt="...">
          </div>
          <div class="item">
            <img src="img/hroc4.jpg" alt="...">
          </div>
          <div class="item">
            <img src="img/hroc5.jpg" alt="...">
          </div>
          <div class="item">
            <img src="img/hroc6.jpg" alt="...">
          </div>
          <div class="item">
            <img src="img/hroc7.jpg" alt="...">
          </div>
          <div class="item">
            <img src="img/hroc8.jpg" alt="...">
          </div>
          <div class="item">
            <img src="img/hroc9.jpg" alt="...">
          </div>
          <div class="item">
            <img src="img/hroc10.jpg" alt="...">
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div> <!-- Carousel -->

      <!-- END INTRO PAGE IMAGE SLIDER -->



      <!-- INTRO PAGE NEWS -->

      <div id="main">
        <h3>Latest News</h3>

        <p>Art party Williamsburg 3 wolf moon leggings authentic, jean shorts butcher disrupt cred Shoreditch plaid Bushwick Pitchfork. Fixie hashtag 8-bit photo booth, vegan VHS bespoke plaid twee letterpress. Authentic viral slow-carb, vegan cred distillery American Apparel art party craft beer lomo McSweeney's pickled try-hard. Gluten-free hella PBR, taxidermy fixie leggings cornhole asymmetrical PBR&B. YOLO tofu church-key, chambray VHS tousled listicle raw denim single-origin coffee iPhone cliche messenger bag whatever before they sold out health goth. Odd Future raw denim mixtape Neutra beard. Stumptown bespoke Austin aesthetic, dreamcatcher migas flannel Brooklyn cronut wayfarers.</p>

        <p>Taxidermy Banksy bitters, farm-to-table fashion axe Austin YOLO pug synth master cleanse fanny pack quinoa photo booth vinyl. Blog plaid before they sold out gluten-free health goth. Crucifix sustainable PBR&B tofu. Shabby chic tofu tilde flannel Austin. Gluten-free butcher mustache raw denim hashtag. Neutra pork belly master cleanse you probably haven't heard of them. Try-hard stumptown sartorial biodiesel Schlitz.</p>

        <p>+1 cred vinyl Bushwick cliche, locavore hoodie 8-bit tofu street art master cleanse flannel. Plaid tote bag forage, literally dreamcatcher master cleanse actually tofu meh sriracha scenester before they sold out Williamsburg. Tousled master cleanse Pinterest, Neutra lumbersexual chillwave four loko. Yr kale chips four loko messenger bag, gastropub seitan sartorial church-key kitsch PBR&B tofu Pinterest Thundercats food truck 3 wolf moon. DIY deep v 8-bit, synth wolf sriracha street art semiotics artisan pour-over. Cliche stumptown mustache farm-to-table, forage chillwave sriracha Helvetica Brooklyn Intelligentsia Truffaut occupy. Austin fingerstache vegan, leggings narwhal seitan iPhone.</p>

        <p>High Life post-ironic Blue Bottle DIY, trust fund keffiyeh pour-over swag kale chips four dollar toast Pitchfork locavore Bushwick listicle. 8-bit twee flannel, meh brunch flexitarian craft beer whatever freegan kogi Etsy lomo lumbersexual. Helvetica aesthetic church-key messenger bag. Vinyl drinking vinegar Carles occupy. Taxidermy Helvetica slow-carb literally photo booth lo-fi plaid. Distillery tousled selvage twee, cardigan kogi pour-over scenester biodiesel semiotics +1 sartorial kale chips post-ironic master cleanse. Umami before they sold out YOLO ethical.</p>


      </div>

</div>