<div class="programs">

  <h1>Healing and Rebuilding Our Communities (HROC)</h1>

  <h2>Description:</h2>
  <p>AGLI is just developing this program which takes ten people from one side of the conflict with 10 people from the other side and has a three day workshop to restore normal relationships between the two sides. In Rwanda, this means Tutsi survivors of the genocide and the families of the Hutu perpetrators of the genocide. In Burundi, this also means 10 Tutsi and 10 Hutu in each workshop.</p>

  <hr>

  <h2>Philosophy and Approach:</h2>
  <p>The HROC program is based on a set of key principles and assumptions.</p>

  <ul>
    <li>First, HROC believes that in every person, there is something good. This is a radical notion in societies where most members have witnessed neighbors and even family members committing gruesome acts of violence.</li>

    <li>Secondly, the program is based on the belief that each person and society has the inner capacity to heal, and an inherent intuition of how to recover from trauma. Healing from trauma requires that a person’s inner good and wisdom is sought and shared with others. It is through this effort that trust can begin to be restored.</li>

    <li>Third, both victims and perpetrators of violence experience trauma and its after-effects. </li>

    <li>Fourth, the violence in Rwanda and Burundi was experienced at both a personal and community level. Therefore, efforts to heal and rebuild the country must also happen at both the individual and community level. </li>

    <li>Lastly, healing from trauma and building peace between groups are deeply connected; it is not possible to successfully do one without the other. Trauma healing and peace building efforts must happen simultaneously.</li>
  </ul>

  <p>HROC slowly builds trust within the group. It is common for participants to be wary of attending workshops fearing they might be a trap where they will be attacked, sent back to prison, or killed. Through experiential activities and cooperative exercises, participants begin to relax. Ground rules are set to increase the “Sense of Safety,” the first stage.</p>

  <p>The second stage is “Remembrance and Mourning.” There are two Rwandan proverbs that emphasize the importance of speaking out about one’s pain: “The family that does not talk, dies” and “The man who is sick must tell the whole world.” Traditionally Rwandans and Burundians talk about their losses and talk through their grief with family and neighbors. Broken trust and dismantled families have impeded that intuitive process of healing, but it is widely accepted in the cultures here as an important step in the journey toward healing.</p>

  <p>In the workshops a forum is created for participants to pay tribute to their losses and to share their grief with others. This process helps to humanize the “other” thereby laying the foundation for the third and final stage, “Reconnection.” Many program participants report having felt very isolated in their grief and their reactions to the trauma they have experienced. The workshops become an important first step in realizing that they are not alone. Those who seek the second level of training to become peer counselors begin to see how they can use their own painful experiences to help others. As one recent participant wrote in her evaluation:</p>

  <blockquote>“I was thinking that I have nothing in me, but I found that I can even use my wounds to heal other people and I found that there is a good thing in every person even though he/she is full of trauma and problems.” – genocide orphan</blockquote>

  <p>Another important aspect of reconnection is the process of rebuilding relationships across the lines of “Hutu” and “Tutsi”, thereby strengthening the fabric of communities torn apart by a long history of violence.</p>

  <p>Methodology Grassroots workshops are AGLI’s primary methodology. Our workshops are experiential, active and evocative, involving the participants as agents in their learning process. Each lesson aims to teach on three levels: the heart or emotional level, the head or intellectual level, and the hand, or practical level. Using popular education methodology, the workshop content is drawn from the participants’ own lives, acknowledging that participants are the experts about what is needed in their own communities.</p>

  <hr>

  <h2>Current Programs:</h2>

  <p>Burundi: The staff of the HROC program in Burundi has decided to concentrate their activities in six specific up-country communities in order to make a decisive difference in healing in those communities. At each site healing companions will conduct basic HROC workshops, follow-up days, and community celebrations in their community.</p>

  <p>North Kivu, Democratic Republic of the Congo: As the war situation has settled down (perhaps only temporarily) people from the internally displaced camps are returning to their home areas. In some case they are not being welcomed on their return. HROC-North Kivu is conducing a seriers of HROC workshops in the village of Nyamitaba in the hills near Masisi where the returnees are having a difficult time with those who did not flee. The project includes HROC eight workshops for 200 people from all sides of the conflict and then follow-up days at least a month later to see how the workshops have affected the participants and their situation. </p>

  <p>Western Kenya--Five communities were selected for five HROC workshops all which have been completed. Presently the HROC team is completing the follow-up days and a community celebrations in each community. </p>

</div>