<div class="countries">

  <h1>Kenya</h1>

  <h2>Current Programs in Kenya:</h2>

  <p>AGLI in partnership with Change Agents for Peace, International (CAPI) is introducing "Transformative Mediation." This has been very successfully introduced in Rwanda, Burundi, and the eastern Congo. The participants will be AVP and HROC facilitators, members of the counseling committee of the Friends Church Peace Teams and Friends Theological College, and other interested people. In July/August, 2010 there will be two three-day introductory workshops in Nairobi and two in western Kenya. The mediation trainers will come from Rwanda and North Kivu in the Congo. Then after three months when each trainee will have conduced at least five mediations, there will be follow-up workshops. In 2011, the five best facilitators from Nairobi and the five best from western Kenya will be trained to become Transformative Mediation Trainers. Then these trainers will do as many mediation trainings as possible before the August 2012 Kenyan elections.</p>

  <p>David Zarembka, AGLI coordinator, and Gladys Kamonya, are committee members of Friends Church Peace Teams (FCPT). David is the Chairperson of the FCPT's Counseling Coordinating Committee. Besides working with the sixteen Quaker yearly meetings in Kenya on election violence prevention, FCPT is deeply involved in Turbo Division of Uasin Gisu District where there was significant post-election violence after the December 2007 election. FCPT has begun a Turbo Division Inter-religious Peace Team with twenty-one churches and one mosque. It will also be conducing AVP workshops for youth in the seven locations of Turbo Division. This will include five basic, two advanced, and one training for facilitators in each division for a total of 56 AVP workshops for approximately 1120 youth in the division. These youth will then form Youth Peace Associations to deal with potential election violence during the August 2012 election.</p>

</div>