<div class="programs">

  <h1>Mediation</h1>

  <h2>History/Background</h2>

  <p>The program started in 2007 with the idea of training mediators in the Great Lakes Region. Mediation skills greatly enhance facilitators’ abilities to bring peace, reconciliation, and solutions to conflict in their communities by bringing together the two parties or groups to build a cooperative relationship. Historically in the Great Lakes Region (Rwanda, Burundi, DRC EST and Kenya) conflicts were solved by methods more like arbitration—people in conflict went to a leader (frequently called a “wise man”) who ideally heard both sides and then pronounced a verdict. This is not compatible with the methods and philosophy of AVP or HROC where inner wisdom and strength of the participants is emphasized. From the time AGLI introduced AVP and HROC in the region facilitators have been asked to resolve issues brought up by the participants in their workshops. They felt that they did not have the skills necessary for this type of conflict resolution. In the past four years AGLI has sent experienced volunteer mediators from the USA to conduct initial mediation training sessions. The training has been highly appreciated by the participants and other local people because of the great need. Change Agents for Peace International (CAPI), in collaboration with AGLI, is contributing to this new program in the Great Lakes Region. Currently the mediation program works under CAPI and has begun to show positive results. More than 200 cases have been resolved successfully and others are still being addressed.</p>

  <hr>

  <h2>Results-to-Date</h2>

  <p>From 2007 to the present three mediators have led workshops in the region:</p>

  <ul>
    <li>2007 - 98 persons were trained in Rwanda, Kenya, Burundi and DRC;</li>
    <li>2008 - 117 were trained;</li>
    <li>2009 - 215 persons were trained in Rwanda, Burundi and DRC - Goma and Uvira;</li>
    <li>2006 to the present - more than 200 cases were resolved through mediation and some disputants celebrated the successful results of their mediation.</li>
  </ul>

  <hr>

  <h2>2010 - Main Objective</h2>

  <p>To establish within the Great Lakes region local (African) mediators with sufficient skill and experience to train new mediators on their own – without need for outside supervision.</p>

  <p>2010 PLAN - Including Burundi, DRC (Goma and Uvira): Kenya, and Rwanda</p>

  <ul>
    <li>Train new mediators in “hot spot” places like Haut plateau.</li>
    <li>Offer capacity building for already trained mediators.</li>
    <li>In Kenya - train additional mediators in new places where conflicts are marked and identified</li>
    <li>Conduct 5 mediation workshops at each site – Burundi, Goma, Kenya, Rwanda and Uvira. In total there would be 20 apprentice workshops.</li>
    <li>Lead 2 mediation workshops at each site for capacity building and sharing experiences with trained mediators (coaching).</li>
  </ul>

</div>