<div id="programs">

  <h1>AGLI Programs</h1>

  <p>AVP: These are three-day experiential workshops that teach participates non-violent means of resolving conflicts. There are three levels - basic, advanced, and training for facilitators.</p>


  <p>HROC: (pronounced HE-rock) HROC is a three day experiential workshop modeled on AVP that deals with the personal and community trauma from the violent conflicts in the region. There is a basic workshop with a follow-up day and then a community celebration. An advanced workshop and a special workshop for HIV+ women have also been developed.</p>

  <p>Mediation: Mediators in Rwanda, Burundi, and Congo (North and South Kivu) have been trained in transformative mediation. The program now has lead mediators in each region capable of training others. In Kenya mediators have been trained in the basic skills, but upgrading and mentoring is still needed.</p>

  <p>Workcamps and Extended Service Volunteers: Each year in June/July AGLI sponsors workcamps in Rwanda, Burundi, Uganda, and/or Kenya. Extended Service Volunteers (ESVs) are placements of three months or more for individuals who wish to be involved more extensively in one of AGLI programs. Some serve for one year or more.</p>

  <p>Friends Women’s Association: This clinic is a medical facility in Kamenge, one of the poorest slums in Bujumbura, Burundi. The staff includes a doctor and nurse and focuses on HIV+ women from the neighborhood while also giving basic medical treatment to the general population.</p>

  <p>Bududa Vocational Institute: Bududa is a remote, poor community in eastern Uganda surrounded by Mount Elgon. The institute teaches skills training in carpentry, masonary, tailoring, nursery school teaching, and computer skills plus life skills such as health, math, and English.</p>

  <p>Student/orphan sponsorships: AGLI supports three student/orphan sponsorships programs: (1) Children of Peace in Bududa, Uganda for 200 orphaned and neglected children, (2) secondary school student sponsorships in Rwanda, and (3) Kamenge Youth Peace Garden in Bujumbura, Burundi which brings Hutu and Tutsi secondary school students together in a scholarship program.</p>

  <p>Speaking tours: Two or three times per year AGLI brings our African partners to report on their grassroots peacemaking work to American, English, and/or Canadian audiences.</p>

</div>