<div class="countries">

  <h1>Rwanda</h1>

  <h2>Current programs in Rwanda:</h2>

  <h3>Alternatives to Violence Project (AVP)</h3>
  <p>Return refugee resettlement project—24 basic and 12 advanced AVP workshops in 6 resettlement camps.</p>
  <p>Hot-stops AVP program, ten to twenty AVP workshops in communities still beset with problems from genocide.  July 2007 to June 2008</p>

  <h3>Healing and Rebuilding Our Communities (HROC)</h3>
  <p>Healing Companion Cycle with 20 HROC workshops, 10 follow-up days, and 5 celebrations</p>
  <p>Support of existing Healing Companions</p>
  <p>Development of HROC workshop focused on youth</p>
  
  <h3>HROC video</h3>
  <p>Showing HROC video in Rwanda Starting March 2008</p>
  
  <h3>Gisenyi workcamp</h3>
  <p>Continue building Gisenyi Peace Center July 2008</p>
  
  <h3>Scholarship program</h3>
  <p>Provide scholarships for 30 or more Rwandan students in need.</p>
  
  <h3>David Bucura</h3>
  <p>Support for AGLI programs in Rwanda, North Kivu, and Nairobi</p>
  
  <hr>

  <h2>Continuing programs in Rwanda:</h2>
  
  <p>With the Friends Peace House as a partner, AGLI will continue the Alternatives to Violence Project (AVP-Rwanda) begun in January 2001 and the Healing and Rebuilding Our Community program begun in August 2003.</p>

  <hr>

  <h2>Completed programs in Rwanda:</h2>

  <p>In July 2005 with Rwanda Yearly Meeting a Workcamp built classrooms for the street children's program</p>

  <p>From October 2003 to March 2005, the Friends Peace House and AGLI with AVP-Rwanda conducted over 100 AVP workshops with Gacaca judges.</p>

  <p>In July 2004 with Rwanda Yearly Meeting, a Workcamp built classrooms for the street children's program.</p>

  <p>From April to July 2003, with the support from the American Friends Service Committe, the HROC workshop was developed and 25 HROC workshops were conducted in various regions of Rwanda.</p>

  <p>In February 2003, with support from the American Friends Service Committee, an initial training for 15 Rwandan and 3 Ugandan HROC facilitators was accomplished.</p>

  <p>In February 2001, with the Friends Peace House, AVP was introducted in Rwanda.</p>

</div>