<div class="countries">

  <h1>Uganda</h1>

  <h2>Current Programs in Uganda:</h2>

  <h3>Bududa Vocational Institute (BVI)</h3>
  <p>Please visit the BVI website at: www.bviuganda.org</p>

  <p>An old Ugandan man came to our school a few weeks ago. He was barefoot, wore an old beat up hat and had a large, appreciative smile on his face. In his hands he was clutching a 5,000 Uganda shilling ($3.00) note wrapped in bunch of small coins. He had come to put some money up towards his daughter’s tuition as a student for the nursery school program at Bududa Vocational Institute.</p>

  <p>Bududa is Uganda’s newest district located in the mountains of eastern Uganda about 30 miles from the Kenyan border. It is one of the most rural and poor districts in Uganda where 70% of the population lives on less than a dollar a day. Uganda has had many success stories when it comes to economic development. In the last 15 years the national AIDS prevalence rate was reduced to 5% from a high of 29% in 1991. There are still many problems to tackle, from the world’s highest adolescent birth rate to poor schools and rampant corruption at every level of government. In Uganda 73% of girls have had a baby by the time they are 17 and it shoots up to 90% by the time they are 19. It is against these many challenges that AGLI came to Bududa in 2003 to establish the first vocational school in the district.</p>

  <p>After problems with management in the first location, Bududa Vocational Institute was re-opened on February 4th of this year. The new location in the small trading center of Konokoyi was chosen in January and, after a month of hard work by several volunteers from the United States including Barbara Wybar and two dozen members of the community, the school was renovated and ready by the beginning of the new term. The school opened with 26 students in three fields: nursery school teacher training, tailoring, and brick laying and concrete practice. The school hired qualified, diploma-holding teachers from some of the best vocational schools in Uganda.</p>

  <p>The purpose of the school, encompassed in the motto, “Skills for Jobs” is to give young men and women who were not able to finish secondary school the opportunity to learn a trade that they can use to make a living. Most of the people living in Bududa are poor subsistence farmers with little to no income. Most of the back-breaking farming and housework is done by women. Over the course of our first term we have grown to 38 students, 29 of which are women. We want to give our students an opportunity for a better future. BVI aims to create positive and active members of the community that can serve as role models to their children and neighbors. To achieve this goal, the school is also offering classes on health, hygiene, life-skills, English, science and math.</p>

  <p>Education is the most powerful tool we have to empower and change a community. Many of the issues that lead to extreme poverty in Bududa are worsened by poor education, especially among women. Bududa Vocational Institute is working hard to improve education in this region and, with time, improve the quality of life.</p>

  <h3>Children of Peace</h3>

  <p>There are nearly 2 million orphans in Uganda with most of the parents having died of HIV/AIDS. It is estimated there will be 8 to 10 million orphans in 10 years, the result of currently infected parents succumbing to the disease. All orphans in Uganda are classified by the government as Orphans and Vulnerable Children (OVC). These vulnerable orphans are more likely do poorly in school, drop out of school completely and have a higher risk of contracting HIV. Bududa District is one of the poorest districts in Uganda with one of the highest birthrates among women. The average woman in Bududa has close to ten children and therefore the orphan population is greater than the national average.</p>

  <p>The second project that AGLI is funding in Bududa is the Children of Peace, a sponsored orphans’ program. The principle aim of the Children of Peace is to show these children that though they have lost a parent, they are still cared for. We want these students to continue in school and succeed in their lives. Our mission is to create an environment where being an orphan no longer means that the child is vulnerable.</p>

  <p>The Saturday program is aimed to give children extra schooling, playtime, and healthcare to give them an opportunity to improve their future. There are almost 200 primary and secondary school aged children enrolled in the program with sponsors from the United States and Canada. Each Saturday they are divided by class and given extra tutoring in the Ugandan curriculum. They also get an hour of playtime and music lessons by a wonderful local musician. For most of the students this is the most playtime they get in the week as it is not emphasized in schools or in the home.</p>

  <p>The free healthcare offered to the students is a large part of the day. There have been a series of health volunteers and nurses that have been helping the students. Last week a barefoot, eight year old boy, Ivan came limping to the school. Almost all the local people go barefoot in Bududa. Ivan had so many jiggers (sand fleas) in his feet that it was painful to walk. The Canadian nurses that were assisting that day supervised a secondary school student take out the jiggers with a needle, after having scrubbed and soaked his feet in salt water. The entire process took two hours because of the sheer number of jiggers in his feet. The only part of the process that made him cry was when the nurses had to apply hydrogen peroxide to his feet to disinfect the wounds. They then wrapped his feet, but he had no shoes to walk home in. Barbara lent the child her Tevas and sent him to the local shops with a teacher to buy new shoes. Though the process was long and painful, the boy was ecstatic and the care he received was better and more prompt than what he would have received at the local health center or hospital.</p>

  <p>If you would like to sponsor a child, please contact Barbara Wybar at bwybar@yahoo.com and Karen Vaccaro at vackern@yahoo.com for details.</p>

</div>